<form action="/hogwarts/students" method="POST">

  <label for="first-name">First name:</label>
  <input type="text" value="<%= @student.first_name %>" name="first_name" id="first-name">

  <label for="last-name">Last name:</label>
  <input type="text" value="<%= @student.last_name %>" name="last_name" id="last-name">

  <label for="age">Age:</label>
  <input type="number" value="<%= @student.age %>" min="1" name="age" id="age">

  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select">
    <option value="1"
    <%= "selected" if @student.house.id == 1%>
    >Gryffindor</option>
    <option value="2"
    <%= "selected" if @student.house.id == 2%>
    >Hufflepuff</option>
    <option value="3"
    <%= "selected" if @student.house.id == 3%>
    >Ravenclaw</option>
    <option value="4"
    <%= "selected" if @student.house.id == 4%>
    >Slytherin</option>
  </select>

  <input type="submit" value="Make new student">

</form>
